
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, rgb(150, 235, 235), white); 
  background-attachment: fixed;   
  background-size: cover;
  padding-top: 80px;
}

.shadow-sm {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand img {
  height: 45px;
}


.login-btn {
  border: none;
  background: #0d6efd;
  color: #fff;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn:hover {
  background: #084298;
}


.nav-link {
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: #0d6efd;
}


.dropdown-custom {
  position: relative;
}


.dropdown-custom .dropdown-list {
  position: absolute;
  top: 55%;
  left: 0;
  /* background: #ffffff; */
  min-width: 100px;
  padding: 10px 0;
  border-radius: 10px;
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.1); */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  list-style: none;
  z-index: 999;
}

.dropdown-custom:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-custom .dropdown-list li a {
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}




.mobile-slide-menu {
  position: fixed;
  top: 0;
  right: -280px; 
  width: 280px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  transition: right 0.4s ease;
}


.mobile-slide-menu.active {
  right: 0;
}


.slide-header {
  border-bottom: 1px solid #ddd;
}


@media (min-width: 992px) {
  .mobile-slide-menu {
    display: none;
  }
}


.login-btn {
  border: none;
  background: #0d6efd;
  color: #fff;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}
.login-btn:hover {
  background: #084298;
}

/* section 1 */

.education-dashboard {
  padding: 60px 10%;
  background: #f4f7ff;
  font-family: "Poppins", sans-serif;
}

.dashboard-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #1a237e;
  text-align: center;
}

.dashboard-grid-3row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.dash-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: .3s;
}

.dash-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

.dash-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #283593;
}

.dash-box p {
  font-size: 26px;
  font-weight: 600;
  color: #3949ab;
}


@media(max-width: 700px) {
  .dashboard-grid-3row {
    grid-template-columns: 1fr; 
  }
}



/* section dashboard */

.edu-chart-section {
  padding: 60px 10%;
  background: #f7f8ff;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.chart-box {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.chart-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #222;
}

.chart-holder {
  width: 100%;
  height: 300px;
}

.chart-holder canvas {
  width: 100% !important;
  height: 100% !important;
}

/* section 2 */

.edu-two-dashboard {
  padding: 60px 10%;
  background: #f5f7ff;
  font-family: "Poppins", sans-serif;
}

.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #1a237e;
}

.two-box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.edu-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.09);
  transition: 0.3s;
}

.edu-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
}

.edu-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #283593;
}

.edu-box ul {
  padding-left: 18px;
}

.edu-box ul li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #424242;
}


@media (max-width: 768px) {
  .two-box-container {
    grid-template-columns: 1fr;
  }
}



/* section footer */


.edu-footer {
  background: #0a1b3c;
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}


.footer-col {
  width: 250px;
}

.footer-col img {
  width: 200px;
  filter: brightness(0) invert(1);
}

.footer-about {
  font-size: 14px;
  line-height: 1.6;
}


.footer-social a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-right: 12px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #1e90ff;
  transform: translateY(-4px);
}


.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 15px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #1e90ff;
  margin-left: 5px;
}


.footer-col p i {
  color: #1e90ff;
  margin-right: 8px;
}


.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #1e2a4f;
  font-size: 14px;
  color: #bdbdbd;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    width: 100%;
  }

  .footer-social {
    margin-top: 10px;
  }
}
