* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, rgb(150, 235, 235), white); 
  background-attachment: fixed;   /* important */
  background-size: cover;
  padding-top: 80px;
}

.shadow-sm {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand img {
  height: 45px;
}


.login-btn {
  border: none;
  background: #0d6efd;
  color: #fff;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn:hover {
  background: #084298;
}


.nav-link {
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: #0d6efd;
}

.dropdown-custom {
  position: relative;
}


.dropdown-custom .dropdown-list {
  position: absolute;
  top: 55%;
  left: 0;
  /* background: #ffffff; */
  min-width: 100px;
  padding: 10px 0;
  border-radius: 10px;
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.1); */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  list-style: none;
  z-index: 999;
}

.dropdown-custom:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-custom .dropdown-list li a {
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}



.mobile-slide-menu {
  position: fixed;
  top: 0;
  right: -280px; 
  width: 280px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  transition: right 0.4s ease;
}


.mobile-slide-menu.active {
  right: 0;
}


.slide-header {
  border-bottom: 1px solid #ddd;
}


@media (min-width: 992px) {
  .mobile-slide-menu {
    display: none;
  }
}


.login-btn {
  border: none;
  background: #0d6efd;
  color: #fff;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}
.login-btn:hover {
  background: #084298;
}

/* section main */


.service-hero{
    position:relative;
    width:100%;
    height:75vh;
    background:url('./image/bg.webp') center/cover no-repeat;
    display:flex;
    align-items:center;
    padding:0 5%;
    color:#fff;
}

.service-hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
}


.service-hero-content{
    position:relative;
    max-width:550px;
}

.service-hero-content h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:15px;
    line-height:1.2;
}

.service-hero-content p{
    font-size:18px;
    margin-bottom:25px;
    line-height:1.6;
    color:#f1f1f1;
}

.hero-btns{
    display:flex;
    gap:15px;
}

.btn-primary{
    background:#1E88E5;
    padding:12px 28px;
    border-radius:8px;
    color:#fff;
    font-weight:600;
    text-decoration:none;
    transition:0.3s;
}

.btn-primary:hover{
    background:#1669b5;
}

.btn-outline{
    padding:12px 28px;
    border-radius:8px;
    border:2px solid #fff;
    color:#fff;
    font-weight:600;
    text-decoration:none;
    transition:0.3s;
}

.btn-outline:hover{
    background:#fff;
    color:#1E88E5;
}


@media (max-width:1024px){
    .service-hero{
        height:60vh;
    }
}

@media (max-width:768px){
    .service-hero{
        height:auto;
        padding:100px 5%;
        text-align:center;
    }

    .service-hero-content{
        max-width:100%;
    }

    .hero-btns{
        justify-content:center;
        flex-wrap:wrap;
    }

    .service-hero-content h1{
        font-size:36px;
    }
}

@media (max-width:480px){
    .service-hero-content h1{
        font-size:30px;
    }

    .service-hero-content p{
        font-size:16px;
    }

    .btn-primary, .btn-outline{
        padding:10px 22px;
    }
}


/* section features */



.edu-features {
    padding: 80px 5%;
    background: #f5f7ff;
    font-family: 'Poppins', sans-serif;
}

.features-heading {
    text-align: center;
    margin-bottom: 50px;
}

.features-heading h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1E3A8A;
}

.features-heading p {
    font-size: 17px;
    color: #555;
}


.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.feature-card {
    background: linear-gradient(to bottom,  aqua, rgb(62, 39, 238));
    padding: 30px 25px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}


.feature-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    background: #1E88E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
}


.feature-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1E3A8A;
    font-weight: 600;
}

.feature-card p {
    color: white;
    font-size: 15px;
}


@media (max-width: 992px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

    .feature-card {
        padding: 25px;
    }
}


/* section services */

.service-highlights {
    padding: 80px 8%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.service-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-img {
    flex: 1;
}

.service-img img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.service-content {
    flex: 1;
}

.service-content h3 {
    font-size: 34px;
    color: #1E3A8A;
    margin-bottom: 15px;
}

.service-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.service-points li {
    font-size: 16px;
    margin-bottom: 12px;
    color: #333;
    list-style: none;
}

.service-points li i {
    color: #1E88E5;
    margin-right: 10px;
}


@media (max-width: 768px) {
    .service-wrapper {
        flex-direction: column;
    }
}

/* section time line */

.service-timeline {
    padding: 80px 10%;
    background: #f0f4ff;
    font-family: 'Poppins', sans-serif;
}

.service-timeline h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 50px;
    color: #1E3A8A;
}

.timeline {
    border-left: 4px solid #1E88E5;
    padding-left: 30px;
}

.timeline-item {
    margin-bottom: 40px;
    position: relative;
}

.timeline-item .dot {
    width: 20px;
    height: 20px;
    background: #1E88E5;
    border-radius: 50%;
    position: absolute;
    left: -42px;
    top: 5px;
}

.timeline-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.timeline-item p {
    color: #555;
}

/* Responsive */
@media (max-width: 768px) {
    .timeline {
        padding-left: 20px;
    }
    .timeline-item .dot {
        left: -28px;
    }
}






/* section footer */


.edu-footer {
  background: #0a1b3c;
  color: #fff;
  padding: 60px 20px 20px;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}


.footer-col {
  width: 250px;
}

.footer-col img {
  width: 200px;
  filter: brightness(0) invert(1);
}

.footer-about {
  font-size: 14px;
  line-height: 1.6;
}


.footer-social a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-right: 12px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #1e90ff;
  transform: translateY(-4px);
}


.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 15px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #1e90ff;
  margin-left: 5px;
}


.footer-col p i {
  color: #1e90ff;
  margin-right: 8px;
}


.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #1e2a4f;
  font-size: 14px;
  color: #bdbdbd;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    width: 100%;
  }

  .footer-social {
    margin-top: 10px;
  }
}
